<div class="row">
  <div class="col-md-12 text-center">
    <br /> <br />
    <h1>Import from Walmart!</h1>
    <br /> <br />
    <%= form_tag('/submit', method: :post) do %>
      <input type="text" name="url" class="form-control" placeholder="Walmart url...">
      <br /> <br />
      <input class="btn btn-primary" type="submit" />
    <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <% @products.each do |product| %>
      <h1> <%= product.name %> ($<%= product.price / 100.0 %>) </h1>
      <% product.reviews.each do |review| %>
        <blockquote>
          <p> <%= review.content %> </p>
          <footer class="blockquote-footer">
            <%= review.author %>
            (<%= review.rating %>/5)
          </footer>
        </blockquote>
        <br />
      <% end %>
    <% end %>
  </div>
</div>
