<!DOCTYPE html>
<html>
  <head>
    <title>WalmartImporter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="alert-info">
            <%= notice %>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
